# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# See https://bun.sh/guides/ecosystem/docker for more about bun specifics

# Dependencies
node_modules

# Environment variable files
.env
.env.*

# System
.DS_Store

# Config
.vscode
.oxfmtrc.json
.oxlintrc.json
# drizzle.config.dev
# tsconfig.json

# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile*
docker-compose*
.dockerignore

# SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal

# ?
Makefile
helm-charts
.editorconfig
.idea
coverage*
