# System
.DS_Store

# Documentation
.obsidian/
bruno/
docs/

# Dependencies
node_modules/

# Environment variable files
.env.local

# TypeScript output
/build

# SQLite
*.sqlite
*.sqlite-shm
*.sqlite-wal
